.botaoVerOfertas{
    width: 10em;
    margin-top: 5px;
}

.container img {
    width: 100%;
    height: 100%;
}

.container{
    max-width: 120px;
    max-height: 120px;
}

.cardUsuarioProprietario{
    background-color: #e8e1e1;
}

.margemBaixo{
    margin-bottom: 1em;
}
