<p-virtualScroller [value]="minhasOfertas" scrollHeight="50vw" [rows]="100" [lazy]="true">
    <p-header [style]="{'color': '#333333'}">
        Minhas Ofertas
    </p-header>

    <ng-template let-oferta pTemplate="listItem">
        <div id="item-linha" class="p-col-12">
            <div class="p-grid">
                <div class="item-details">
                    <div class="p-col-10">
                        <div class="p-grid">
                            <div class="container p-col-4 card showCard">
                                <img [src]="oferta.foto">
                            </div>
                            <div class="p-col-8">
                                <div class="p-col-12 margemBaixo">
                                    <span class="card cardUsuarioProprietario">
                                        Usuário Proprietário: <b>{{ oferta.nomeUsuario }}</b>
                                    </span>
                                </div>
                                <div class="p-col-12">Item da Oferta: <b>{{ oferta.nomeItem }}</b></div>
                                <div class="p-col-12">Descrição: <b>{{ oferta.descricaoItem }}</b></div>
                            </div>
                        </div>
                    </div>
                    <div id="botao-item" class="p-col-2">
                        <button class="ui-button-raised botaoVerOfertas" pButton type="button" icon="pi pi-search"
                            (click)="mostraOfertas(oferta.id)" label="Ver Oferta"></button>
                        <button class="ui-button-danger botaoVerOfertas" pButton type="button" icon="pi pi-times"
                            (click)="cancelarOferta(oferta.id)" label="Cancelar"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-virtualScroller>

<p-dialog header="Itens que ofertei" [(visible)]="displayVerOfertas" showEffect="fade" [style]="{'width': '70vw'}"
    [modal]="true" [contentStyle]="{padding: '2em', textAlign: 'center'}">
    <div *ngFor="let item of itensOfertados"  id="item-linha" class="p-col-12">
        <div class="p-grid">
            <div class="item-details">
                <div class="p-col-10">
                    <div class="p-grid">
                        <div class="container p-col-4 card showCard">
                            <img [src]="item.foto">
                        </div>
                        <div class="p-col-8">
                            <div class="p-col-12">Item da Oferta: <b>{{ item.nome }}</b></div>
                            <div class="p-col-12">Descrição: <b>{{ item.descricao }}</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
