<p-dataView #dv [value]="itens" [paginator]="true" [rows]="5" paginatorPosition="both" filterBy="nome" [sortField]="sortField" [sortOrder]="sortOrder">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="p-grid">
                <div class="p-col-12 p-md-4">
                    <p-dropdown class="ng-tns-c3-4 ng-pristine ng-valid ng-touched" [options]="sortCategoria" placeholder="Pesquisar por Categoria" optionLabel="descricao">
                    </p-dropdown>
                </div>
                <div class="p-col-6 p-md-4 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Pesquisar por Nome"
                            (input)="dv.filter($event.target.value)">
                    </div>
                </div>
                <div class="p-col-6 p-md-4" style="text-align:right">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </div>
        </div>
    </p-header>


    <ng-template let-item pTemplate="listItem">
        <div id="item-linha" class="p-col-12">
            <div class="p-grid">
                <div class="car-details">
                    <div class="p-col-10">
                        <div class="p-grid">
                            <div class="container p-col-4 card">
                                <img [src]="item.foto">
                            </div>
                            <div class="p-col-8">
                                <div class="p-col-12">Item: <b>{{item.nome}}</b></div>
                                <div class="p-col-12">Descrição: <b>{{item.descricao}}</b></div>
                            </div>
                        </div>
                    </div>
                    <div id="botao-item" class="p-col-2">
                        <button pButton type="button" icon="fa fa-exchange" (click)="$event" [style]="{'border-radius': '5px'}"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template let-item pTemplate="gridItem">
        <div class="p-col-12 p-md-3 ng-star-inserted">
            <p-panel [header]="" [style]="{'text-align':'center'}">
                <img [src]="item.foto" width="100" height="100">
                <div id="showCard" class="car-detail card ellipsis">
                    <span>
                        <strong>Item:</strong> {{ item.nome }} <br>
                    </span>
                    <span>
                        <strong>Descrição:</strong> {{ item.descricao }}
                    </span>
                </div>
                <hr>
                <button pButton type="button" icon="fa fa-exchange" (click)="$event" [style]="{'border-radius': '5px'}"></button>
            </p-panel>
        </div>
    </ng-template>
</p-dataView>

    <!-- <p-dialog header="Car Details" [(visible)]="displayDialog" [minY]="70" showEffect="fade" [modal]="true"
    [style]="{width: '225px'}" (onAfterHide)="onDialogHide()" [contentStyle]="{padding: '2em', textAlign: 'center'}">
    <div *ngIf="selectedCar">
        <img src="">
        <strong>{{selectedCar.vin}} - {{selectedCar.year}}</strong>
    </div>
</p-dialog> -->

