<p-dataView #dv [value]="itens" [paginator]="true" [rows]="12" paginatorPosition="both" filterBy="nome" [loading]="loading">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="p-grid">
                <div class="p-col-12 p-md-4">
                    <p-dropdown class="ng-tns-c3-4 ng-pristine ng-valid ng-touched dropCategoria" [options]="sortCategoria"
                        placeholder="Pesquisar por Categoria" [showClear]="true" (onChange)="filterCategoria($event.value)">
                    </p-dropdown>
                </div>
                <div class="p-col-6 p-md-4 filter-container">
                    <div class="positionContainer">
                        <input type="search" pInputText placeholder="Pesquisar por Nome"
                            (input)="dv.filter($event.target.value)">
                    </div>
                </div>
                <div class="p-col-6 p-md-4 positionDvl">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </div>
        </div>
    </p-header>


    <ng-template let-item pTemplate="listItem">
        <div id="item-linha" class="p-col-12">
            <div class="p-grid">
                <div class="item-details">
                    <div class="p-col-10">
                        <div class="p-grid">
                            <div class="container p-col-4 card showCard" (click)="mostrarItem(item)">
                                <img [src]="item.foto">
                            </div>
                            <div class="p-col-8">
                                <div class="p-col-12">Item: <b>{{item.nome}}</b></div>
                                <div class="p-col-12">Descrição: <b>{{item.descricao}}</b></div>
                            </div>
                        </div>
                    </div>
                    <div id="botao-item" class="p-col-2">
                        <button class="ui-button-success botaoRealizaTroca" pButton type="button" icon="fa fa-exchange"                            (click)="realizaTroca(item)" label="Ofertar"></button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template let-item pTemplate="gridItem">
        <div class="p-col-12 p-md-3 ng-star-inserted">
            <p-panel [header]="" class="pPanelStyle">
                <img [src]="item.foto" width="100" height="100">
                <div class="item-detail card ellipsis showCard" (click)="mostrarItem(item)">
                    <span>
                        <strong>Item:</strong> {{ item.nome }} <br>
                    </span>
                    <span>
                        <strong>Descrição:</strong> {{ item.descricao }}
                    </span>
                </div>
                <hr>
                <button pButton class="ui-button-success botaoRealizaTroca" type="button" icon="fa fa-exchange" (click)="realizaTroca(item)" label="Ofertar"></button>
            </p-panel>
        </div>
    </ng-template>
</p-dataView>

<p-dialog header="Detalhes da Peça" [(visible)]="displayDetalhesItem" showEffect="fade" [modal]="true" [style]="{'width': '50vw'}" [contentStyle]="{padding: '2em', textAlign: 'center'}">
    <div>
        <img [src]="selectedItem.foto" width="200" height="200">
        <div>
            <span>
                <strong>Item:</strong> {{ selectedItem.nome }} <br>
            </span>
            <span>
                <strong>Descrição:</strong> {{ selectedItem.descricao }}
            </span>
        </div>
    </div>
</p-dialog>

<p-dialog header="Faça sua Oferta! Arraste as Peças que deseja ofertar" [(visible)]="displayTroca" showEffect="fade" [style]="{'width': '70vw'}" [contentStyle]="{padding: '2em', textAlign: 'center'}">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-col-nogutter drag-column">
            <ul class="styleUl">
                <li *ngFor="let itensOferta of availableItens" class="ui-helper-clearfix" pDraggable="itens"
                    (onDragStart)="dragStart($event,itensOferta)" (onDragEnd)="dragEnd($event)">
                    <i class="pi pi-plus styleIcon"></i>
                    <img [src]="itensOferta.foto" style="float:left" draggable="false" width="50" height="50">
                    <div class="styleDivNome">{{ itensOferta.nome }}</div>
                </li>
            </ul>
        </div>
        <div class="p-col-12 p-md-6 drop-column" pDroppable="itens" (onDrop)="drop($event)" [ngClass]="{'ui-highlight-car':draggedItem}">
            <p-table [value]="selectedItensOfertados">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Peça</th>
                        <th>Descrição</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-itensOferta>
                    <tr class="cursorPointer" (click)="removeItem(itensOferta)">
                        <td>{{ itensOferta.nome }}</td>
                        <td>{{ itensOferta.descricao }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <p-footer>
        <button class="ui-button-success" type="submit" pButton icon="pi pi-check" (click)="criarOferta()" label="Ofertar" [disabled]="criandoOferta" [style]="{'color': '#ffffff'}"></button>
    </p-footer>
</p-dialog>
