<form [formGroup]="form" (ngSubmit)="salvar()">
    <p-card [header]="!this.isEditing ? 'Cadastro de Item' : 'Editar Dados'">
        <hr><br>
        <div class="ui-fluid">
            <div class="p-field">
                <label for="nome">Nome</label>
                <input id="nome" type="text" pInputText formControlName="nome">
            </div>
            <div class="p-field">
                <label for="descricao">Descrição</label>
                <input id="descricao" type="text" pInputText formControlName="descricao">
            </div>
            <div class="p-field p-grid">
                <div id="id-file" class="p-col-10" [style]="{'margin-top':'5%'}">
                    <input type="file" name="foto" (change)="imageUpload($event)">
                </div>
                <div class="container p-col-2">
                    <img [src]="imageUrl"/>
                </div>
            </div>
            <div class="p-field">
                <p-dropdown [options]="categorias" placeholder="Selecione uma Categoria" formControlName="categoriaDtoId" [style]="{'margin-top': '1em'}"></p-dropdown>
            </div>
        </div>

        <p-footer>
            <button type="submit" pButton icon="pi pi-plus" [label]="isEditing ? 'Salvar' : 'Criar'" [style]="{'margin-right':'1em'}"></button>
        </p-footer>
    </p-card>
</form>

<br><br><br>

<p-table [value]="itens">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Foto</th>
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.foto}}</td>
            <td>{{item.categoriaDtoId}}</td>
            <td>
                <button pButton class="ui-button" icon="pi pi-refresh" label="Editar" (click)="editar(item.id)" ></button>
                <button pButton class="ui-button-danger" icon="pi pi-times" label="Excluir" (click)="excluir(item.id)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
