<form [formGroup]="form" (ngSubmit)="salvar()">
    <p-card [header]="!this.isEditing ? 'Cadastro de Peças' : 'Editar Dados'">
        <hr><br>
        <div class="ui-fluid">
            <div class="p-field">
                <label for="nome">Nome</label>
                <input id="nome" type="text" pInputText formControlName="nome">
            </div>
            <div class="p-field">
                <label for="descricao">Descrição</label>
                <input id="descricao" type="text" pInputText formControlName="descricao">
            </div>
            <div class="p-field p-grid">
                <div class="p-col-10" [style]="{'margin-top':'5%'}">
                    <input #inputFile type="file" name="foto" accept="image/png" (change)="imageUpload($event)">
                </div>
                <div class="container p-col-2 card">
                    <img [src]="imageUrl" *ngIf="imageUrl" />
                </div>
            </div>
            <div class="p-field">
                <p-dropdown [options]="categorias" placeholder="Selecione uma Categoria"
                    formControlName="categoriaDtoId" [style]="{'margin-top': '1em'}"></p-dropdown>
            </div>
        </div>

        <p-footer>
            <button class="ui-button-success" type="submit" pButton icon="pi pi-plus" [label]="isEditing ? 'Salvar' : 'Criar'"
                [style]="{'margin-right':'1em'}"></button>
        </p-footer>
    </p-card>
</form>
