<p-card header="Minha Conta">
<hr><br>
<form [formGroup]="form" (ngSubmit)="salvar()">
        <div class="ui-fluid">
            <div class="p-field">
                <label for="nome" id="idNome">Nome</label>
                <input id="nome" type="text" pInputText formControlName="nome" maxlength="80">
            </div>
            <div class="p-field">
                <label for="email" id="idEmail">Email</label>
                <input id="email" type="text" pInputText formControlName="email" maxlength="100">
            </div>
            <div class="p-field">
                <label for="cpf" id="idCpf">CPF</label>
                <p-inputMask mask="999.999.999-99" formControlName="cpf" unmask="true"></p-inputMask>
            </div>
            <div class="p-field">
                <label for="dataNascimento"id="idDataNascimento">Data de Nascimento</label>
                <input id="data" type="date" formControlName="dataNascimento">
            </div>
        </div>

        <p-footer>
            <button type="submit" pButton icon="pi pi-check" class="ui-button-success" label="Alterar"></button>
        </p-footer>
</form>
</p-card>
